.container {
  /* display: grid; */
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% auto;
  gap: 20px;
  align-items: flex-start;

  /* margin-left: 220px; */
  /* padding: 1px 16px; */
  /* height: 1000px; */
}

.sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-content {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .sidebar {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  
  .main-content {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
