.shopping-cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: vh;
  }
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .cart-button {    
    height: 40px;
    width: 550px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 5px 1px;
    background-color: #ffffff8e;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat';
    font-size: 20px;
    border-radius: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .cart-button:hover {
    background-color: #e45d00;
  }
  
  .shopping-cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .cart-items-column {
    width: 50%;
  }
  
  .cart-item {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-arrow {
    font-size: 16px;
  }
  
  .item-description {
    font-style: italic;
    color: #888;
  }
  
  .generate-bill-button {
    display: block;
    width: 100%;
    margin-top: 2px;
    padding: 14px 28px;
    background-color: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 17px;
    font-family: 'Montserrat';
  }
  
  .generate-bill-button:hover {
    background-color: #ff6a00;
  }
  
  .empty-cart-message {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #888;
  }

  
.section-recent-items {
  background-color: #5e0909;
  border: 1px black;
}

.recent-items h2 {
  margin-bottom: 10px;
}



.section-category{
  background-color: #5e0909;
}
  