.App {
    text-align: center;
    padding: 2rem;
  }
  
  input {
    margin-right: 1rem;
  }
  
  button {
    margin-top: 1rem;
  }
  
  img {
    margin-top: 1rem;
    max-width: 300px;
    max-height: 300px;
  }
  