.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
    width: 100%;
  }
  
  .section {
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .section.category {
    background-color: #f1f1f1;
    width: 20%;
    height: 100%;
  }
  
  .section.category ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section.category li {
    margin-bottom: 10px;
  }
  
  .section.category a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .category-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .section.add-item {
    background-color: #ffffff;
    width: 60%;
    height: 100%;
  }
  
  .section.recent-items {
    background-color: #f1f1f1;
    width: 20%;
    height: 100%;
  }
  
  .form-input {
    margin-bottom: 10px;
  }
  
  .form-input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input input,
  .form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-button {
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  